body{
    background-color: #fff3f3;
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: rgb(93, 93, 255);
}
a:visited{
    color: blueviolet;
}
img{
    height: 50%;
    width: 50%;
}

@media (max-width: 1024px){
    img{
        height: 50%;
        width:  50%;
    }
}
@media (max-width: 768px){
    img{
        height: 35%;
        width:  35%;
    }
}
@media (max-width: 480px){
    img{
        height: 20%;
        width:  20%;
    }
}